# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build files
dist/
out/
dist-ssr/
release/
electron/resources

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
Thumbs.db
dsa.db

# Misc
*.local
*.swp

#IDE
.idea/